RewriteEngine On
RewriteBase /

# Если файла (.js, .css, .mp4, .png) НЕТ — дай 404, а не грузи index.html!
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} \.(js|css|png|jpg|jpeg|gif|ico|mp4|svg)$ [NC]
RewriteRule ^ - [L,R=404]

# Для нормальных путей React
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
