RewriteEngine On
RewriteBase /

# ГЛАВНЫЙ ФИКС: Если это картинка, скрипт или видео и его НЕТ - выдай 404 ошибку!
# Не вздумай отдавать index.html вместо них!
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} \.(js|css|png|jpg|jpeg|gif|ico|mp4|svg|xml|txt)$ [NC]
RewriteRule ^ - [L,R=404]

# Всё остальное (пути страниц) - для React
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
