@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: #050a14;
  color: white;
  font-family: Inter, system-ui, sans-serif;
}

* {
  box-sizing: border-box;
}

input,
textarea,
button {
  font: inherit;
}

input,
textarea {
  background: #0a1628;
  border: 1px solid #1e5eff;
  color: white;
  padding: 14px;
  border-radius: 10px;
  outline: none;
  width: 100%;
  font-size: 16px;
}

input:focus,
textarea:focus {
  border-color: #3b82f6;
}

button {
  background: #0052ff;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
}

button:hover {
  opacity: 0.9;
}
